.turn {
    margin: 40px auto;

    .carousel-inner {
        background-image: url(../images/productos.jpg);
        background-size: cover;
        background-position: center;
        height: 420px;
        font-family: $backFont;
        font-size: 70px;
        text-align: center;
        background-color: pink;
        border-radius: 30px;

        @media screen and (min-width: 320px) and (max-width: 768px) {
            background-image: none;
            height: 120px;
            width: 300px;
            font-size: 30px;
        }

        .carousel-item {
            margin-top: 150px;

            @media screen and (min-width: 320px) and (max-width: 768px) {
                margin-top: 40px;
            }
        }
    }

    a {
        text-decoration: none;

        span {
            color: white;
            background-color: purple;
            border-radius: 20px;
            padding: 15px;
        }
    }
}

.footy {
    @include footy(100px)
}