footer{
    font-family: $backFont;
    
    .footer-container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 90%;
        
        .footer-block {
            display: inline-block;
            text-decoration: none;
            h5 {
                font-size: 20px;
                color: purple;
            }
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
        .footer-newsletter {
            display: inline-block;
            .subscribe-bttn {
                @include sale-buttons;
                font-size: 15px;
            }
        }
    }
    .copyrightandlinks {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 90%;
        margin-top: 80px;
        margin-bottom: 80px;
        .footer-links {
            ul {
                list-style: none;
                display: flex;
                justify-content: space-between;
                li {
                    width: 50px;
                    a {
                        color: black;
                        :hover {
                            color: purple;
                            transition: all 0.5s ease-in;
                        }
                    }
                }
            }
        }
    }
}