#sales {
    margin: 100px auto;
    
    h3 {
        @include title
    }
    .table-border {
        width: 95%;
        margin: auto;
        border: 1px purple dotted;
        padding: 50px 40px 0 40px;
        overflow: hidden;
        border-radius: 25px;
        
        .table {
            border: 1px solid pink;
            ul {
                font-size: 18px;
                font-family: $backFont;
                text-align: center;
                margin: 0 auto;
                list-style: none;
                margin: 0px;
                padding: 30px;
                
                .table-header {
                    font-family: $backFont;
                    font-size: 20px;
                    text-align: center;
                    color: purple;
                    font-weight: bold;
                    margin-bottom: 10px;
                    border-bottom: 1px solid pink;
                }
            }
            .table-header-container {
                width: 870px;
                margin: 0 auto;
                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    position: relative;
                    padding-bottom: 30px;
                    #header-1, #header-2, #header-3, #header-4, #header-5 {
                        position: absolute;
                    }
                    #header-1 {
                        left: 0%;
                    }
                    #header-2 {
                        left: 14%;
                    }
                    #header-3 {
                        left: 48%;
                    }
                    #header-4 {
                        right: 9%;
                    }
                    #header-5 {
                        right: -3%;
                    }
                }
            }
        }
    }
    .newSale {
        float: right;
        margin: 40px 150px;
        @include sale-buttons
    }
}
.footy {
    @include footy(50px)
}

#table-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}