.footy {
    @include footy(50px)
}
#statistics {
    margin: 100px auto;
    font-family: $backFont;
    
    h3 {
        @include title;
        
    }
    .salesStats{
        border: 1px purple dotted;
        padding: 40px 40px;
        overflow: hidden;
        border-radius: 25px; 
        display: flex;
        justify-content: space-around;
       
        form{
            background-color: #FFF87F;
            width: 25%;
            float: left;
            font-family: $backFont;
            font-size: 18px;
            border-radius: 10px;
            
            .dateInput{
                font-family: $backFont;
                font-size: 15px;
                border-radius: 20px;
                margin: 10px 10px;
                    
            }
            
        }
        .stats{
            float: left;
            width: 40%;
            margin-left: 50px;
            
            .btn{
                font-size: 13px;
                text-align: center;
                margin: 13px;
                font-family: $backFont;
                width: 100px;
                height: 80px;
                padding: 0 10px;
                font-weight: bold;
                
            }
        }
        .result{
            float: left;
            font-family: $backFont;
            font-size: 20px;
            background-color: #FFF87F;
            width: 25%;
            height: 320px;
            border-radius: 10px;
            
            p{
                margin-left: 10px;
                margin-top: 10px;
            }
        }
    }
}