//VARIABLES
$titleFont: 'Lobster', cursive;
$backFont: 'Varela Round', sans-serif;

//MIXINS
@mixin footy($height) {
    background-image: url(../image/fondoC.jpg);
    background-size: cover;
    width: 100%;
    height: $height;
}

@mixin title {
    font-family: $backFont;
    font-size: 55px;
    text-align: center;
    margin: 30px 0;
}

body {
    header {
        background-image: url(../image/fondoC.jpg);
        width: 100%;
        height: 180px;
        background-size: cover;
        text-align: center;

        h1 {
            font-family: $titleFont;
            font-size: 130px;
            margin: 0 auto;
            padding-top: 20px;
            color: white;
            text-shadow: -4px 0 purple, 0 4px purple, 4px 0 purple, 0 -4px purple;
            letter-spacing: 4px;
        }
    }
}

.container {
    width: 90%;
}

.firstSection {
    .menu {
        margin-top: 20px;
        margin-left: 270px;

        .btn {
            background-color: white;
        }
    }

    .turn {
        margin: 50px auto;

        .carousel-inner {
            background-image: url(../image/vestidos-niñas-unicornio.jpg);
            background-size: cover;
            background-blend-mode: luminosity;
            height: 380px;
            font-family: $backFont;
            font-size: 70px;
            text-align: center;
            background-color: pink;
            border-radius: 30px;
        }


        a {
            text-decoration: none;
            color: black;

            span {
                color: white;
                background-color: purple;
                border-radius: 20px;
                padding: 15px;
            }
        }
    }

    .footy {
        @include footy(100px)
    }
}

.secondSection {

    .table-border {
        border: 1px purple dotted;
        padding: 50px 40px 0 40px;
        overflow: hidden;
        border-radius: 25px;
    }

    #sales {
        padding-bottom: 200px;

        h3 {
            @include title
        }

        .table {
            display: flex;
            justify-content: center;

            ul {
                font-size: 18px;
                font-family: $backFont;
                text-align: center;
                margin: 0 auto;
                border: 1px solid pink;
                list-style: none;
                margin: 0px;
                padding: 30px;

                .table-header {
                    font-family: $backFont;
                    font-size: 20px;
                    text-align: center;
                    color: purple;
                    font-weight: bold;
                    margin-bottom: 10px;
                    border-bottom: 1px solid pink;
                }
            }
        }

        .newSale {
            float: right;
            font-family: $backFont;
            border: 1px solid pink;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            color: black;
            background-image: url(../image/fondoC.jpg);
            border-radius: 10px;
            padding: 10px 5px;
            margin: 40px 150px;
        }

    }

    .footy {
        @include footy(50px)
    }

    #statistics {
        width: 90%;
        margin: 150px auto;
        font-family: $backFont;

        h3 {
            @include title
        }

        .stats {
            width: 50%;

            .btn {
                font-size: 14px;
                margin: 15px;
                font-family: $backFont;
                width: 90px;
                height: 80px;
                padding: 0 10px;
                font-weight: bold;
            }
        }
    }

    #reports {
        margin: 0 auto;
        font-family: 'Rubik', sans-serif;

        h3 {
            @include title
        }

        .collapse-group {
            padding: 50px 40px;
            border: 1px solid darkgrey;
            margin-bottom: 10px;

            .panel {
                padding: 20px 40px;

                .panel-title {
                    font-family: $backFont;
                    color: purple;

                    .trigger.collapsed {
                        text-decoration: none;
                        color: purple;
                    }

                    &:before {
                        content: '\e082';
                        text-decoration: none;
                        color: purple;
                        font-family: 'Glyphicons Halflings';
                        vertical-align: text-bottom;
                    }

                    &:before {
                        text-decoration: none;
                        color: purple;
                        content: '\e081';
                    }
                }
            }
        }
    }
}