@charset "UTF-8";
body header {
  background-image: url(../image/fondoC.jpg);
  width: 100%;
  height: 230px;
  background-size: cover;
  text-align: center;
}
body header h1 {
  font-family: "Lobster", cursive;
  font-size: 130px;
  margin: 0 auto;
  padding-top: 20px;
  color: white;
  text-shadow: -4px 0 purple, 0 4px purple, 4px 0 purple, 0 -4px purple;
  letter-spacing: 4px;
}
body .firstSection .menu {
  width: 80%;
  margin-top: 20px;
  margin-left: 270px;
}
body .firstSection .menu .btn {
  background-color: white;
}
body .firstSection .turn {
  width: 90%;
  margin: 140px auto 80px auto;
}
body .firstSection .turn .carousel-inner {
  height: 120px;
  font-family: "Varela Round", sans-serif;
  font-size: 75px;
  text-align: center;
  background-color: pink;
  border-radius: 25px;
}
body .firstSection .turn a {
  color: black;
  text-decoration: none;
}
body .firstSection .footy {
  background-image: url(../image/fondoC.jpg);
  background-size: cover;
  width: 100%;
  height: 100px;
}
body .secondSection #sales {
  padding-bottom: 200px;
}
body .secondSection #sales h3 {
  font-family: "Varela Round", sans-serif;
  font-size: 55px;
  text-align: center;
  margin: 30px 0;
}
body .secondSection #sales table {
  font-size: 18px;
  font-family: "Varela Round", sans-serif;
  text-align: center;
  margin: 0 auto;
  border: 1px solid pink;
}
body .secondSection #sales table th, body .secondSection #sales table td {
  border: 1px solid pink;
}
body .secondSection #sales .newSale {
  float: right;
  font-family: "Varela Round", sans-serif;
  border: 1px solid pink;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
  background-image: url(../image/fondoC.jpg);
  border-radius: 10px;
  padding: 10px 5px;
  margin: 40px 150px;
}
body .secondSection .footy {
  background-image: url(../image/fondoC.jpg);
  background-size: cover;
  width: 100%;
  height: 50px;
}
body .secondSection #statistics {
  width: 90%;
  margin: 150px auto;
  font-family: "Varela Round", sans-serif;
  font-size: 80px;
}
body .secondSection #statistics h3 {
  font-family: "Varela Round", sans-serif;
  font-size: 55px;
  text-align: center;
  margin: 30px 0;
}
body .secondSection #statistics .stats {
  width: 80%;
  margin-left: 170px;
}
body .secondSection #statistics .stats .btn {
  font-family: "Varela Round", sans-serif;
  width: 200px;
  height: 130px;
  padding: 0 10px;
  margin: 20px;
  font-weight: bold;
}
body .secondSection #reports {
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
}
body .secondSection #reports h3 {
  font-family: "Varela Round", sans-serif;
  font-size: 55px;
  text-align: center;
  margin: 30px 0;
}
body .secondSection #reports .collapse-group {
  padding: 50px 40px;
  border: 1px solid darkgrey;
  margin-bottom: 10px;
}
body .secondSection #reports .collapse-group .panel {
  padding: 20px 40px;
}
body .secondSection #reports .collapse-group .panel .panel-title {
  font-family: "Varela Round", sans-serif;
  color: purple;
}
body .secondSection #reports .collapse-group .panel .panel-title .trigger.collapsed {
  text-decoration: none;
  color: purple;
}
body .secondSection #reports .collapse-group .panel .panel-title:before {
  content: "";
  text-decoration: none;
  color: purple;
  font-family: "Glyphicons Halflings";
  vertical-align: text-bottom;
}
body .secondSection #reports .collapse-group .panel .panel-title:before {
  text-decoration: none;
  color: purple;
  content: "";
}

/*# sourceMappingURL=main.css.map */
