//VARIABLES
$titleFont: 'Lobster', cursive;
$backFont: 'Varela Round', sans-serif;
$generalColor: purple;
$screen-lg-min: 768px;

//MIXINS
@mixin footy($height) {
    background-image: url(../images/fondoC.jpg);
    background-size: cover;
    width: 100%;
    height: $height;
    @media only screen and (max-width: 768px){
        width: 760px;
        
    }
}

@mixin title {
    font-family: $backFont;
    font-size: 55px;
    text-align: center;
    margin: 30px 0;
    @media only screen and (max-width: 768px){
        font-size: 50px;
        text-align: center;
        margin-left: 40px;
    }
}

@mixin sale-buttons {
    font-family: $backFont;
    border: 1px solid pink;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-image: url(../images/fondoC.jpg);
    border-radius: 10px;
    padding: 10px 5px;
}

body {
    
    @import "components/header";
    
    .container {
        width: 100%;
        min-width: 1212px;
        
        .firstSection {
            @import "components/carrusel";
        }
        .secondSection {
            @import "components/sale";
            @import "components/modal";
            @import "components/stadistics";
        }
        @import "components/footer"; 
    } 
    
}

